@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
    --secondary-background: 230, 37%, 97%;

    --color-background: oklch(0.15 0.03653544359872399 242.8228541063972);

    --color-secondary: oklch(0.21 0.1172 270.56);
    --color-secondary-foreground: oklch(0.08 0.01 264);

    --color-primary: oklch(0.75 0.1325 181.73);
    --color-primary-foreground: oklch(0.98 0 0);

    --color-muted-foreground: oklch(0.55 0.0137 285.94);

    /* Animation keyframes */
    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slide-up {
        from {
            transform: translateY(20px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes zoom-in {
        from {
            transform: scale(0.5);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }
}

body {
    font-family: var(--font-sans);
    padding-top: 5rem;
    background-color: var(--color-background);
    color: white;
}

.glass-bg {
    background: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0) 0,
        hsla(0, 0%, 100%, 0.1)
    );
    backdrop-filter: blur(20px);
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Animation classes */
.animate-fade-in {
    animation: fade-in 0.8s ease-out forwards;
}

.animate-fade-in-up {
    animation: fade-in-up 0.8s ease-out forwards;
}

.animate-slide-up {
    animation: slide-up 0.8s ease-out forwards;
}

.animate-zoom-in {
    animation: zoom-in 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

html {
    scroll-behavior: smooth;
}
