<section class="w-full h-auto py-20 relative overflow-hidden">
    <h2
        class="text-4xl md:text-6xl font-bold bg-linear-to-r from-primary to-secondary bg-clip-text text-transparent mb-12 text-center"
    >
        Nuestros Eventos
    </h2>
</section>
