<footer
    class="bg-linear-to-br from-primary to-secondary py-12 overflow-hidden text-white"
>
    <p>
        Comunidad de desarrolladores que conectan, colaboran y aprenden juntos.
    </p>
</footer>
