---
import { Image } from "astro:assets";
import petLogo from "@/assets/images/mascota.png";
import ArrowRight from "@/assets/arrow-right.svg";
import ArrowDown from "@/assets/arrow-down.svg";
---

<section
    id="nosotros"
    class="min-h-screen relative bg-background font-sans flex flex-col items-center justify-center tracking-tight"
>
    <!-- Glow izquierdo -->
    <div
        class="absolute inset-36 size-48 rounded-full bg-radial from-primary from-80% to-primary blur-3xl mix-blend-screen"
    >
    </div>
    <!-- Glow derecho -->
    <div
        class="absolute inset-x-[75%] size-48 rounded-full bg-radial from-secondary from-80% to-secondary mix-blend-screen blur-2xl"
    >
    </div>

    <div
        class="relative z-10 flex flex-col animate-zoom-in items-center space-y-4"
    >
        <Image
            src={petLogo}
            alt="Mascota de guayaba"
            height={80}
            width={90}
            loading="eager"
            fetchpriority="high"
            class="animate-zoom-in"
        />
        <h1
            class="delay-100 text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold mb-4 sm:mb-6 bg-linear-to-r from-primary to-secondary bg-clip-text text-transparent"
        >
            Guayabadevs
        </h1>
        <p
            class="text-lg sm:text-xl md:text-2xl lg:text-3xl text-muted-foreground mb-8 sm:mb-12 font-medium max-w-2xl mx-auto px-2"
        >
            Creando desarrolladores
            <span class="text-primary font-bold">fructíferos</span>
        </p>
        <div class="flex gap-4 mt-4">
            <a
                href="https://www.instagram.com/guayaba_devs_official/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <button
                    class="px-6 py-2 bg-teal-400 rounded-full hover:bg-teal-500 flex items-center gap-2 transition-all transform hover:scale-105"
                >
                    Únete a la comunidad
                    <ArrowRight
                        class="w-4 h-4 sm:w-5 sm:h-5 bg-white animate-bounce-horizontal"
                    />
                </button>
            </a>

            <a
                href="https://www.instagram.com/guayaba_devs_official/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <button
                    class="flex items-center gap-2 px-6 py-2 text-primary border border-teal-400 rounded-full hover:bg-teal-400/20 transition-all transform hover:scale-105"
                >
                    Próximos eventos
                    <ArrowDown
                        class="w-4 h-4 sm:w-5 sm:h-5 bg-white animate-bounce-horizontal"
                    />
                </button>
            </a>
        </div>
    </div>
</section>
