---
import { Image } from "astro:assets";
import logoGuayaba from "@/assets/images/guayaba-cover.png";
---

<header
    id="navbar"
    class="fixed top-0 w-screen z-30 bg-linear-to-r from-primary to-secondary"
>
    <nav
        class="mx-auto flex items-center justify-between px-4 h-[4rem] lg:px-8"
    >
        <div class="flex items-center justify-between w-full">
            <Image
                src={logoGuayaba}
                alt="Guayaba Devs Logo"
                width={200}
                height={60}
                loading="lazy"
                fetchpriority="high"
            />
            <ul class="flex space-x-12 font-semibold">
                <li><a href="#nosotros">Nosotros</a></li>
                <li><a href="#miembros">Miembros</a></li>
                <li><a href="#newsletter">Newsletter</a></li>
                <li><a href="#post">Posts</a></li>
            </ul>
        </div>
    </nav>
</header>

<script is:inline>
    (() => {
        const nav = document.getElementById("navbar");
        let lastY = scrollY;
        let ticking = false;

        addEventListener(
            "scroll",
            () => {
                const y = scrollY;
                if (!ticking) {
                    ticking = true;
                    requestAnimationFrame(() => {
                        // cambio directo de estilo, sin tocar classList
                        nav.style.transform =
                            y > lastY ? "translateY(-100%)" : "translateY(0)";
                        lastY = y;
                        ticking = false;
                    });
                }
            },
            { passive: true },
        );
    })();
</script>
