<section class="mt-24 px-4 my-20 sm:px-6 lg:px-8 relative overflow-hidden">
    <h3
        class="text-4xl py-4 md:text-6xl font-bold mb-12 text-center bg-linear-to-r from-primary to-secondary bg-clip-text text-transparent"
    >
        Mantente Actualizado
    </h3>
</section>
