---
const { class: gridClass = "" } = Astro.props;
---

<div
    class={`grid grid-cols-1 md:grid-cols-3 max-w-7xl min-h-[21rem] w-full mx-auto md:auto-rows-[22rem] gap-6 pb-[2%] ${gridClass}`}
>
    <slot />
</div>
